APP_NAME=Hardwood
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=hardwood
DB_USERNAME=hardwood
DB_PASSWORD=hardwood

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
